node_modules
.pnp*
.pnp.js
.pnpm-debug.log
yarn.lock
yarn-error.log
npm-debug.log
pnpm-debug.log

*.log
*.tmp
*.swp
*.swo
.DS_Store

dist
.next
out
coverage

*.tsbuildinfo

.prisma
prisma/migrations

.vscode
.idea
*.iml